body {
 background-color: #000000;
 font-family: "nunito", sans-serif;
 color: rgb(237,253,208);
 font-size: clamp(22px, 5vw, 38px);

}

div {
    background-image: url("images/nightbackground.png");
    background-repeat: repeat-y;
    background-size: 100%;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;   
    min-height: 100dvh; 
    padding-top: 20px;
    padding-bottom: 100px;
}

p {
margin-bottom: 0px;
}

dd {
   font-size: clamp(20px, 3vw, 32px);
   color: rgb(250, 226, 180);

}

h2 {
  color: rgb(250, 226, 180);
  font-size: clamp(14px, 7vw, 50px);
}

a {
   font-family: "nunito", sans-serif;
 color: rgb(237,253,208);
 font-size: clamp(22px, 5vw, 38px);
 text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
}

.date {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 0%;
  max-width: 100%;
  max-width: 600px; 
}

.centertext{
margin-left: 10%;
margin-right: 10%;
text-align:center;
}

.lefttext{
margin-left: 10%;
margin-right: 10%;
text-align:left;
}

.beername {
  font-weight: bold;
}

#logo {
  margin-top: 0%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width :30%;
  max-width: 300px;
  min-width: 100px;
}

#bridge {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width :100%;
  max-width: 2000px;
}